<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>电影列表</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/page.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 引入头部 -->
        <?php
        require('pages/include/header.html');
        ?>

        <!-- 引入菜单 -->
        <?php
        require('pages/include/menu.html');
        ?>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div class='addnew'>
                    <a href="main.php?go=movielist" class="layui-btn layui-btn-warm">电影列表</a>
                    <a href="main.php?go=movieadd" class="layui-btn">电影上架</a>
                </div>
                <div style='clear:both'></div>
                <div class='list'>
                    <table class="layui-table">
                        <colgroup>
                            <col width="100">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>分类（类型/地区）</th>
                                <th>电影名称</th>
                                <th>导演</th>
                                <th>编剧</th>
                                <th>价格</th>
                                <th>上架日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php echo $tempStr; ?>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © yuzhoutushu.com
        </div>
    </div>
    <script src="layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use("element", function() {
            var element = layui.element;
        });
    </script>
</body>

</html> 