<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>电影上架</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/page.css">
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src='./js/wangEditor-3.1.1/release/wangEditor.min.js'></script>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 引入头部 -->
        <?php
        require('pages/include/header.html');
        ?>

        <!-- 引入菜单 -->
        <?php
        require('pages/include/menu.html');
        ?>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div class='addnew'>
                    <a href="main.php?go=movielist" class="layui-btn layui-btn-warm">电影列表</a>
                    <a href="main.php?go=movieadd" class="layui-btn">电影上架</a>
                </div>
                <div style='clear:both'></div>
                <div>
                </div>

                <div class="createbody">

                    <form class="layui-form" method='POST' enctype='multipart/form-data' action="main.php">

                        <input type="hidden" name="go" value='movie_add_do'>

                        <div class="layui-form-item">
                            <label class="layui-form-label">选择分类</label>
                            <div class="layui-input-block" style='width:30%;float:left;margin-left:0;'>
                                <select name="class" lay-verify="required" id='class' lay-filter="class">
                                    <option value="">请选择类型</option>
                                    <?php echo  $class; ?>
                                </select>
                            </div>
                            <div class="layui-input-block" style='width:30%;margin-left:30px;float:left'>
                                <select name="country" id='country' lay-verify="required">
                                    <option value="">请选择地区</option>
                                    <?php echo  $country; ?>

                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">电影名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="moviename" required lay-verify="required" placeholder="请输入电影名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">导演</label>
                            <div class="layui-input-block">
                                <input type="text" name="director" required lay-verify="required" placeholder="请输入导演名字" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">编剧</label>
                            <div class="layui-input-block">
                                <input type="text" name="writer" required lay-verify="required" placeholder="请输入编剧名字" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">主演</label>
                            <div class="layui-input-block">
                                <input type="text" name="role" required lay-verify="required" placeholder="请输入主演者" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">价格</label>
                            <div class="layui-input-block">
                                <input type="text" name="price" required lay-verify="required" placeholder="请输入价格" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">片长</label>
                            <div class="layui-input-block">
                                <input type="text" name="long" required lay-verify="required" placeholder="请输入片长" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">花絮地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="movieurl" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上传封面</label>
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn " id="test1">
                                    <i class="layui-icon">&#xe67c;</i>上传封面
                                </button>
                                <input type="file" name="poster" required lay-verify="required" autocomplete="off" class="layui-input " style='display:none' accept='image/*' id='poster'>
                            </div>
                        </div>


                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">简介</label>
                            <div class="layui-input-block">
                                <div id="editor">

                                </div>
                                <textarea id="text1" style="display:none;" name='descript'></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">上架日期</label>
                            <div class="layui-inline">
                                <input type="text" class="layui-input" id="test" name='dt'>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © yuzhoutushu.com
        </div>
    </div>
    <script src="layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use("element", function() {
            var element = layui.element;
        });

        //Demo
        layui.use('form', function() {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function(data) {
                layer.msg(JSON.stringify(data.field));

                return true;
            });

        });

        layui.use('laydate', function() {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#test' //指定元素
            });
        });

        $('#test1').click(function() {
            $('#poster').click()
        })
        $('#test2').click(function() {
            $('#music').click()
        })
    </script>
    <script>
        var E = window.wangEditor;
        var editor = new E('#editor');
        var $text1 = $('#text1')
        editor.customConfig.onchange = function(html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }


        editor.customConfig.uploadImgShowBase64 = true // 使用 base64 保存图片

       
        editor.create();
        // 初始化 textarea 的值
        $text1.val(editor.txt.html());
    </script>
</body>

</html> 